*.iml
.gradle
/local.properties
/.idea
!.idea/icon.svg
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
/app/src/androidTest/java/com/infomaniak/drive/utils/Env.kt
/app/src/standard/java/com/infomaniak/drive/GeniusScanEnv.kt
