<?xml version="1.0" encoding="utf-8"?><!--
  ~ Infomaniak kDrive - Android
  ~ Copyright (C) 2022-2024 Infomaniak Network SA
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- For upload and sync -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.ACCESS_MEDIA_LOCATION"
        android:minSdkVersion="29" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion="33" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- Other -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- For video player -->

    <!-- Remove "required" for Camera permission. -->
    <!-- This is from GeniusScan SDK, and it has to be optional so kDrive can be installed on ChromeBooks. -->
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false"
        tools:replace="required" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        tools:replace="required" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"
        tools:replace="required" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data
                android:mimeType="*/*"
                android:scheme="*" />
        </intent>
    </queries>

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:localeConfig="@xml/locales_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        tools:targetApi="TIRAMISU">

        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://034ade81b662408396e5f945a9fe35c5@sentry-mobile.infomaniak.com/7" />

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|layoutDirection" />

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <activity android:name=".ui.menu.settings.SyncSettingsActivity" />

        <activity android:name=".ui.MaintenanceActivity" />

        <activity android:name=".ui.SwitchUserActivity" />

        <activity android:name=".ui.menu.settings.AppSecuritySettingsActivity" />

        <activity
            android:name=".ui.fileList.SelectFolderActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:label="@string/selectFolderTitle" />

        <activity android:name=".ui.OnlyOfficeActivity" />

        <activity android:name=".ui.fileList.preview.PreviewPDFActivity"
            android:label="@string/kDrivePdfViewer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SaveExternalFilesActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/saveExternalFileTitle">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LaunchActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="kdrive.infomaniak.com" />

                <data android:pathPattern="/app/drive" />
                <data android:pathPattern="/app/drive/" />
                <data android:pathPattern="/app/drive/.*/files" />
                <data android:pathPattern="/app/drive/.*/files/.*" />
                <data android:pathPattern="/app/drive/.*/files/.*/preview/./..*" />
                <data android:pathPattern="/app/drive/.*/redirect/..*" />
                <data android:pathPattern="/app/office/.*/..*" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.Login" />

        <activity
            android:name=".ui.login.NoDriveActivity"
            android:label="@string/noDriveTitle" />

        <activity
            android:name="com.infomaniak.lib.login.WebViewLoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/WebViewTheme" />

        <activity
            android:name="com.infomaniak.lib.login.WebViewCreateAccountActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/WebViewTheme" />

        <activity
            android:name="com.infomaniak.lib.applock.LockActivity"
            android:theme="@style/AppTheme.Lock" />

        <activity
            android:name="com.infomaniak.lib.stores.updaterequired.UpdateRequiredActivity"
            android:theme="@style/AppTheme.RequiredUpdate" />

        <service android:name=".data.sync.MediaObserverService" />

        <receiver
            android:name=".utils.RebootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/FILE_AUTHORITY"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/exposed_files_path"
                tools:replace="android:resource" />
        </provider>

        <provider
            android:name=".data.documentprovider.CloudStorageProvider"
            android:authorities="@string/CLOUD_STORAGE_AUTHORITY"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
    </application>

</manifest>
